.icon-edit-product{
    font-size:15px !important;
    transition: ease .2s !important;
    margin: 15px;
    position: absolute;
    right: 0 !important;
    color: #0d6efd;
} 
.icon-edit-product:hover{
    cursor: pointer !important;
    font-size:18px !important;

}
.h-100 {
    transition: ease .5s;
}

@media (max-width: 900px) {
    .h-100 {
        width: 400px !important;
    }
    .card-img-top {
        height: 240px !important;
    }
}  